*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  .contcainer{
    max-width: 1200px;
    margin: 0 auto;
  }

.header{
  position: absolute;
  
  padding: 40px 0;
  border-bottom: 1px solid aqua;
 }
}


